<ul>
    <li><b>Administration</b></li>
    <li><a href="dealer_registration">Dealer Registration</a></li>
    <li><a href="get_dealer">Dealer Updates</a></li>
    <li><a href="show_claims">Reprint A Claim (Tyre)</a></li>
    <li><a href="show_claims_labor">Reprint A Claim (Labor)</a></li>
    <!--<li><a href="car_edit">Car Makes and Models</a></li>
    <li><a href="tire_edit">Tire Makes and Models</a></li>-->
    <li><b>&nbsp;</b></li>
    <li><a href="admin_index?logout=1">Log Out</a></li>

</ul>

