<div class="page_body">
    <div class="side_bar">
        <p style="text-align: center; padding: 10px;"><img src="images/iStock-490048372-labor-sm.jpg"
                                                           alt=" auto repair labor"/>
        <p>
    </div>
    <div class="content">
        <h1 class="contenr_header">{PAGE_TITLE}</h1>
        <h2 class="contenr_header">Step 2: Enter Repair Info</h2>
        <form name="new_labor_2" id="new_labor_2" action="claim_check" method="post">
            <div class="plan_wrapper">
                <div class="plan_header" id="labor_num">Number of Repair Codes for this Claim</div>
                <input id="labor_size_1" name="labor_size_1" size="30" type="text" tabindex="3" value="">
                <div class="plan_line"><h3>Repair Information</h3></div>
                <div class="labor_divs" id="labor_1" style="display: block">
                    <div class="plan_line"><h4>Repair 1</h4></div>
                    <div class="plan_header" id="r_code_1">Repair Code</div>
                    <div class="plan_field">
                        <select size="1" id="labor_code_1" name="labor_code_1" size="30"
                                tabindex="6">{labor_CODES}</select>
                    </div>
                    <div class="plan_header" id="o_r_price_1">Original Labor Price</div>
                    <div class="plan_field">
                        <input id="original_labor_price_1" name="original_labor_price_1" size="30" type="text"
                               tabindex="7" value="">
                    </div>
                    <div class="plan_header" id="o_r_price_1">Labor Per Hour</div>
                    <div class="plan_field">
                        <input id="labor_hour_1" name="labor_hour_1" size="5" maxlength="5" tabindex="7" value="">
                    </div>
                    <div class="plan_header" id="o_r_price_1">Original Labor Hours</div>
                    <div class="plan_field">
                        <input id="original_labor_price_1" name="original_labor_price_1" size="4" maxlength="4"
                               type="text" tabindex="7" value="">
                    </div>
                    <div class="plan_header" id="claim_r_price_1">Sub Labor Price</div>
                    <div class="plan_field">
                        <input id="claim_labor_price_1" name="claim_labor_price_1" size="30" type="text" tabindex="8"
                               value="">
                    </div>
                    <div class="plan_header" id="r_desc_1">Repair Description</div>
                    <div class="plan_field">
                        <textarea tabindex="11" id='labor_desc_1' name='labor_desc_1' rows='5' cols='28'></textarea>
                    </div>
                </div>

                <div class="labor_divs" id="labor_2" style="display: none">
                    <div class="plan_line"><h4>Repair 2</h4></div>
                    <div class="plan_header" id="r_make_2">Tire Make</div>

                    <div class="plan_field">
                        <input name="labor_make_2" id="labor_make_2" size="30" type="text" tabindex="12" value=""></div>
                    <div class="plan_header" id="r_model_2">Tire Model</div>
                    <div class="plan_field">
                        <input name="labor_model_2" id="labor_model_2" size="30" type="text" value="" tabindex="13">
                    </div>
                    <div class="plan_header" id="r_size_2">Tire Size:</div>
                    <div class="plan_field">
                        <input id="labor_size_2" name="labor_size_2" size="30" type="text" value="" tabindex="14"></div>

                    <div class="plan_header">Tire <a title="What's this?" target="_new" href="labor_information.pdf">DOT
                        #</a>:
                    </div>
                    <div class="plan_field" id="r_dor_2">
                        <input id="labor_dor_2" name="labor_dor_2" size="30" type="text" value="" tabindex="15">
                    </div>
                    <div class="plan_header" id="o_r_parr_2">Original Tire Part Number</div>
                    <div class="plan_field"><input type="text" id="original_parr_number_2" name="original_parr_number_2"
                                                   size="30" tabindex="16"></div>
                    <div class="plan_header" id="r_r_parr_2">Replacement Tire Part Number</div>
                    <div class="plan_field"><input type="text" id="claim_parr_number_2" name="claim_parr_number_2"
                                                   size="30" tabindex="17"></div>

                    <div class="plan_header" id="o_r_price_2">Original Tire Price</div>
                    <div class="plan_field">
                        <input id="original_labor_price_2" name="original_labor_price_2" size="30" type="text"
                               tabindex="18" value="">
                    </div>
                    <div class="plan_header" id="r_r_price_2">Replacement Tire Price</div>
                    <div class="plan_field">
                        <input id="claim_labor_price_2" name="claim_labor_price_2" size="30" type="text" tabindex="19"
                               value="">
                    </div>

                    <div class="plan_header" id="o_tread_depth_2">Original Tread Depth:</div>
                    <div class="plan_field"><input class="formcheck" type="text" tabindex="20"
                                                   id="original_tread_depth_2" name="original_tread_depth_2" size="2"
                                                   MAXLENGTH="2"> /32
                    </div>
                    <div class="plan_header" id="r_tread_depth_2">Remaining Tread Depth:</div>
                    <div class="plan_field"><input class="formcheck" type="text" tabindex="21"
                                                   id="remaining_tread_depth_2" name="remaining_tread_depth_2" size="2"
                                                   MAXLENGTH="2"> /32
                    </div>
                    <div class="plan_header" id="r_damage_desc_2">Damage Description:</div>
                    <div class="plan_field"><textarea tabindex="22" id='labor_damage_desc_2' name='labor_damage_desc_2'
                                                      rows='5' cols='28'></textarea></div>
                </div>

                <div class="plan_submit"><input type="submit" value="Submit" name="send_message" id="send_message"
                                                style="display: none"></div>
                <div id="labor_make_id"></div>

                <input type='hidden' id="claim_filer" name="claim_filer" value="{CLAIM_FILER}">
                <input type='hidden' id="invoice_number" name="invoice_number" value="{INVOICE_NUMBER}">
                <input type='hidden' id="invoice_date" name="invoice_date" value="{INVOICE_DATE}">
                <input type='hidden' id="orig_mileage" name="orig_mileage" value="{ORIG_MILEAGE}">
                <input type='hidden' id="currenr_mileage" name="currenr_mileage" value="{CURRENr_MILEAGE}">
                <input type='hidden' id="vehicle_year" name="vehicle_year" value="{VEHICLE_YEAR}">
                <input type='hidden' id="vehicle_make" name='vehicle_make' value="{VEHICLE_MAKE}">
                <input type='hidden' id="vehicle_model" name='vehicle_model' value="{VEHICLE_MODEL}">

            </div>
        </form>
    </div>
    <div class="clearBoth"></div>
</div>

